#about .items {
  display: block;
  padding: 1rem;
}

#about .about-2 {
  display: block;
}

#project .items {
  display: block;
  padding: 1rem;
}

#project .items .item {
  margin: 1.5rem;
}

/* Smartphones  */
@media (max-width: 500px) {
  header .content h1 {
    font-size: 2.5rem;
    margin-bottom: -1.5rem;
  }

  .p-rlm {
    font-size: 0.8rem;
  }

  header .content p {
    font-size: 1rem;
  }

  .h3-heading {
    padding: 1.5rem;
  }

  .btn:link {
    padding: 0.5rem 0.8rem;
  }

  .container-flex {
    display: block;
    margin: 0.4rem;
  }

  header .content .hello {
    font-size: 0.7rem;
    padding: 0.5rem 1rem;
  }

  .main-nav li {
    text-align: center;
    margin: 15px auto;
  }
  .logo {
    display: inline-block;
    font-size: 22px;
    margin-top: 10px;
    margin-left: 20px;
  }

  .navbar-toggle {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.8);
    font-size: 24px;
  }

  .navbar span {
    display: block;
  }

  .navbar {
    display: block;
  }

  .navbar ul {
    display: block;
  }

  header {
    height: 110vh;
  }
}
