/* .items {
  display: block;
  padding: 1rem;
}

.about-2 {
  display: block;
}

.items {
  display: block;
  padding: 1rem;
}

.item {
  margin: 1.5rem;
} */

/* Smartphones  */
@media (max-width: 500px) {
  h1 {
    font-size: 4rem;
    margin-top: 10rem;
  }

  h2 {
    font-size: 2rem;
    margin-bottom: 0.35rem;
    margin-top: 3rem;
    padding-bottom: 1rem;
  }

  a {
    font-size: 1rem;
  }

  .navbar {
    padding: 1rem 0;
  }

  header p {
    font-size: 2rem;
    letter-spacing: 0.2rem;
  }

  /* p {
    font-size: 0.5rem;
  } */

  .header__background {
    height: 15vh;
    margin-top: 10rem;
  }

  .about-2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    padding-bottom: 2rem;
    margin-top: 1rem;
  }

  .about-2 p {
    font-size: 1.2rem;
  }

  .img-side {
    flex: 1;
    align-self: center;
  }

  .img-side img {
    width: 25rem;
  }

  .skills-section {
    flex: 1;
    align-self: center;
    margin-left: 0;
  }

  .skill__list li {
    font-size: 1.5rem;
    margin-left: 6rem;
    padding-bottom: 0.5rem;
  }

  /* Projects */

  .section-projects {
    padding: 1rem;
  }

  #project .container {
    padding: 0 1rem;
    /* margin: 0 auto; */
  }

  .items {
    display: block;
    /* flex-wrap: wrap;
    justify-content: center;
    align-content: center; */
  }

  .item {
    margin: 1.5rem;
  }

  .item li {
    font-size: 1.2rem;
  }

  .btn:link {
    padding: 0.5rem 1.5rem;
  }

  .container-flex {
    display: block;
    margin: 0.4rem;
  }

  /* message */
  input[type="text"],
  input[type="email"],
  textarea {
    padding: 0.8rem;
    width: auto;
  }

  .container-flex label {
    font-size: 1.2rem;
  }

  .container-flex div:first-child {
    padding: 0 0.8rem;
  }

  textarea {
    height: 10rem;
  }

  footer {
    font-size: 1rem;
    padding: 1rem;
  }

  .navbar-toggle {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.8);
    font-size: 24px;
  }

  .navbar span {
    display: block;
  }

  .navbar ul {
    display: none;
  }

  .main-nav li {
    text-align: center;
    margin: 15px 8rem 15px 0;
  }

  header {
    height: 52vh;
  }
}

@media (min-width: 501px) and (max-width: 768px) {
  header {
    height: 60vh;
  }
}
