/* -------------------------------- */
/* BASIC SETUP */
/* -------------------------------- */

/* Reset for browsers */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Lato", "Arial", sans-serif;
  line-height: 1.4;
  color: #555;
  font-size: 62.5%;
  font-weight: 400;
}

a {
  text-decoration: none;
}

p {
  font-size: 1.6rem;
}

h1 {
  font-size: 8rem;
  margin-top: 19rem;
  color: #1abc9c;
}

h2 {
  font-size: 4rem;
  margin-bottom: 0.75rem;
  text-align: center;
  word-spacing: 0.2rem;
  font-weight: 300;
  padding-bottom: 3rem;
  letter-spacing: 0.2rem;
}

h3 {
  font-size: 2rem;
  margin-bottom: 1rem;
  font-weight: bold;
  text-align: center;
}

/* bottons and links */

.btn:link,
.btn:visited,
input[type="submit"] {
  display: inline-block;
  padding: 0.5rem 2rem;
  text-decoration: none;
  border-radius: 5rem;
  font-size: 1.2rem;
}

.btn-full,
input[type="submit"] {
  background-color: #1abc9c;
  border: 1px solid #1abc9c;
  color: #fff;
  /* color: #555; */
  margin-right: 1rem;
  margin-bottom: 2rem;
}

/* .btn-full:hover {
  border: 1px solid #1abc9c;
  background-color: transparent;
  color: #1abc9c;
} */

.btn-full:hover {
  transform: translateY(-0.2rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.btn-ghost {
  border: 1px solid #1abc9c;
  /* color: #1abc9c; */
  color: #555;
  margin-right: 1rem;
}

.btn-ghost:hover {
  transform: translateY(-0.2rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

/* .btn-ghost:hover {
  border: 1px solid #1abc9c;
  background-color: #1abc9c;
  color: #fff;
} */

header p {
  font-size: 3rem;
  font-weight: 400;
  letter-spacing: 0.5rem;
}

.container {
  max-width: 114rem;
  margin: 0 auto;
  padding: 0 5rem;
  overflow: hidden;
}

/* navbar */
.navbar {
  display: flex;
  padding: 2rem;
  justify-content: space-around;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: bold;
  align-items: center;
}

.navbar div:first-child {
  font-weight: 300;
}

.navbar ul {
  display: flex;
  list-style: none;
}
.navbar ul li {
  margin: 0.8rem 2rem;
  color: #555;
}

.navbar a {
  margin: 0.8rem 0.3rem;
  color: #555;
}

.icon__github,
.icon__twitter {
  transition: color 0.2s;
}

.icon__github:hover {
  color: #24292e;
}
.icon__twitter:hover {
  color: #00aced;
}

.a__color {
  color: #1abc9c;
}

/* Bouncing letters animation */
.text {
  position: absolute;
  width: 450px;
  left: 50%;
  top: 50%;
  margin-top: -20px;
  margin-left: -225px;
}

.bounce span {
  display: inline-block;
  vertical-align: top;
  /* margin-left: 1rem;
    letter-spacing: 0.1rem; */
}

.word {
  position: absolute;
  width: 350px;
  opacity: 0;
}

.letter {
  display: inline-block;
  position: relative;
  float: left;
  transform: translateZ(25px);
  transform-origin: 50% 50% 25px;
}

.letter.out {
  transform: rotateX(90deg);
  transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.letter.behind {
  transform: rotateX(-90deg);
}

.letter.in {
  transform: rotateX(0deg);
  transition: transform0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.wisteria {
  color: #33cca7;
}

.belize {
  color: #00aced;
}

.pomegranate {
  color: #da985b;
}

.violent {
  color: #805db6;
}

header {
  height: 95vh;
}

/* header__background */

.header__background {
  height: 30vh;
  background-image: linear-gradient(
      rgba(41, 186, 155, 0.7),
      rgba(41, 186, 155, 0.7)
    ),
    url("../../img/pic1.webp");
  background-position: center;
  background-size: cover;
  position: relative;
  margin-top: 15rem;
}

/* section about */
.section-about {
  padding-top: 10rem;
  padding-bottom: 5rem;
}

.section-about h3 {
  padding-top: 1.5rem;
}

.about-2 {
  display: flex;
  padding-bottom: 4rem;
  margin-top: 2.5rem;
}

.about-2 img {
  transition: transform 0.2s;
}
.about-2 img:hover {
  transform: translateY(-1.5rem) scale(1.03);
}

.about-2 div {
  flex: 1;
  text-align: center;
}

.about-2 p {
  font-size: 1.5rem;
}

.skills-section {
  margin-left: 15rem;
}

.skill__list li {
  list-style: none;
  font-size: 2.5rem;
  text-align: left;
  margin-left: 14rem;
  padding-bottom: 0.8rem;
}

.skill__list li i {
  color: #1abc9c;
  margin-right: 2rem;
}

/* projects */

.section-projects {
  background-color: #f4f4f4;
  padding: 5rem 0;
}

.items {
  display: flex;
  margin: 5rem 0rem;
}

.item {
  background-color: #fff;
  border-radius: 5px;
  width: 90%;
  margin-left: 3%;
  padding: 1.6rem;
  flex: 1;
  text-align: center;
  /* box-shadow: 0px 1.5rem 4rem #9e9d9d; */
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  transition: transform 0.2s;
}

.item:hover {
  border-radius: 5px;
  transform: translateY(-1.5rem) scale(1.03);
}

.item li {
  list-style: none;
  text-align: left;
  font-size: 1.6rem;
}

.item li i {
  color: #1abc9c;
  margin-right: 1rem;
}

.item img {
  width: 100%;
  height: auto;
  margin-bottom: 1rem;
  border: 0.15rem solid;
  border-top: 1px solid rgb(232, 232, 232);
}

.item div {
  padding: 1.6rem;
  border-bottom: 1px solid #e8e8e8;
}

.hori-line {
  border-bottom: 1px solid #e8e8e8;
  padding-bottom: 1rem;
}

/* Contact section */

.section-contact {
  padding: 5rem 0;
}

.container-flex {
  display: flex;
  width: 70%;
  margin: 0 auto;
}

.container-flex div {
  flex: 1 2;
  padding: 0.8rem;
}

.container-flex label {
  font-size: 1.6rem;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 1.2rem;
  border-radius: 0.2rem;
  border: 1px solid #ccc;
}

textarea {
  height: 15rem;
}

*:focus {
  outline: none;
}

/* Footer */

footer {
  background-color: #333;
  padding: 2rem;
  font-size: 1.3rem;
  color: #d3d3d3;
}

footer a {
  color: #d3d3d3;
}

.footer__flex {
  display: flex;
  padding: 2rem;
  justify-content: space-around;
}
