/* -------------------------------- */
/* BASIC SETUP */
/* -------------------------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Lato", "Arial", sans-serif;
  line-height: 1.4;
}

a {
  text-decoration: none;
}

p {
  margin: 0.75rem;
}

/* Utils classes */

.text-color {
  color: #1abc9c;
}

.container {
  max-width: 1100px;
  margin: auto;
  padding: 0 2rem;
  overflow: hidden;
}

/* Navbar  */
#navbar {
  display: flex;
  padding: 1rem;
  justify-content: space-between;
}

#navbar ul {
  display: flex;
  align-items: center;
  list-style: none;
}

#navbar ul li {
  align-items: flex-end;
  list-style: none;
}

#navbar ul li a {
  color: #fff;
  padding: 0.75rem;
  margin: 0 0.25rem;
  font-weight: bold;
  border-bottom: 0.2rem solid transparent;
  transition: border-bottom 0.2s;
}

#navbar ul li a:hover {
  border-bottom: 0.2rem solid #1abc9c;
}

/* header */
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../../img/header-background1-min.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-attachment: fixed;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0 2rem;
  height: 600px;
  color: #fff;
}

header .content .hello {
  display: inline-block;
  background-color: #1abc9c;
  font-size: 0.9rem;
  padding: 0.7rem 1.5rem;
  border-top-left-radius: 0;
  border-top-right-radius: 1.3rem;
  border-bottom-right-radius: 1.3rem;
  border-bottom-left-radius: 1.3rem;
}

header .content h1 {
  font-size: 4rem;
  line-height: 7rem;
}

header .content p {
  font-size: 1.5rem;
  font-weight: bold;
}

header .content div {
  align-self: center;
  margin-top: 5rem;
}

/* bottons and links */

.btn:link,
.btn:visited,
input[type="submit"] {
  display: inline-block;
  padding: 0.5rem 1.6rem;
  text-decoration: none;
  border-radius: 5rem;
}

.btn-full {
  background-color: #1abc9c;
  border: 1px solid #1abc9c;
  color: #fff;
  margin-right: 1.3rem;
}

.btn-full:hover {
  border: 1px solid #1abc9c;
  background-color: transparent;
  color: #1abc9c;
}

.btn-ghost {
  border: 1px solid #1abc9c;
  color: #1abc9c;
}

.btn-ghost:hover {
  border: 1px solid #1abc9c;
  background-color: #1abc9c;
  color: #fff;
}
